* {
  background-color: black;
}

/* HEADER STYLING */
#OR2STEM-HEADER {
  color: white;
  font-weight: bold;
  padding-left: 20px;
}
#OR2STEM-HEADER-A {
  cursor: pointer;
  color: white;
  text-decoration: none;
  transition-duration: 0.5s;
}

#userProfile {
  float: right;
  margin-right: 15px;
  position: relative;
}
#userButton {
  width: auto;
  height: 30px;
  font-size: 14px;
  font-weight: 600;
  color: black;
  background-color: white;
  cursor: pointer;
  margin-right: 30px;
}
#user-picture {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  margin-left: 3px;
  color: black;
  background-color: white;
  width: 85px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
}
.dropdown-content a {
  color: black;
  background-color: white;
  display: block;
  text-decoration: none;
  padding: 5px;
  text-align: center;
}
.show {
  display: block;
}

.content-div {
  width: 100%;
  margin-bottom: 30px;
}

/* MAIN STYLING */
h1,
a,
th,
td {
  color: white;
}

#main {
  margin: 0 auto;
  width: 100%;
  margin-bottom: 40px;
}

#header-div {
  width: 100%;
}

#loading-div {
  margin: 0 auto;
  width: 200px;
  height: 40px;
  padding: 5px;
  color: white;
  font-size: 22px;
  font-weight: 600;
  border: 2px solid white;
  margin-bottom: 40px;
}

#ss_tab {
  margin: 0 auto;
  width: 90%;
  border: 1px solid black;
  border-collapse: collapse;
}
.th1,
.th2 {
  text-align: center;
  font-size: 20px;
  width: 32%;
  height: auto;
  border: 1px solid white;
}
.th3 {
  text-align: center;
  font-size: 20px;
  width: 24%;
  height: auto;
  border: 1px solid white;
}
.th4 {
  text-align: center;
  font-size: 20px;
  width: 12%;
  height: auto;
  border: 1px solid white;
}
.td1,
.td2 {
  text-align: center;
  width: 32%;
  height: auto;
  border: 1px solid white;
}
.td3 {
  text-align: center;
  width: 24%;
  height: auto;
  border: 1px solid white;
}
.td4 {
  text-align: center;
  width: 12%;
  height: auto;
  border: 1px solid white;
}
.myCharts {
  width: 100%;
  height: 150px;
}
.open_btn_1 {
  width: 65px;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  color: black;
  background-color: gainsboro;
  cursor: pointer;
  transition-duration: 0.5s;
}
.open_btn_1:hover {
  background-color: white;
  transform: scale(1.05);
}

#download-btn {
  width: 150px;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background-color: navy;
  cursor: pointer;
  transition-duration: 0.5s;
}
#download-btn:hover {
  background-color: red;
}

/* FOOTER STYLING */
footer {
  border-top: 1px solid #000;
  background-color: black;
  padding: 50px 0 0 0;
}

footer .container {
  padding: 0 40px;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  width: 1200px; /*should be changed according to the size of the screen*/
}

footer .footer-top {
  padding: 30px 0;
  align-items: flex-start;
  flex-direction: row;
}

footer .flex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

footer .footer-top h4 {
  border-bottom: 2px solid #fff;
  color: #fff;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-weight: 400;
  margin: 10px 0;
  font-size: 20px;
}
footer .footer-top .logo a {
  text-decoration: none;
}
footer .footer-top .logo p {
  color: #fff;
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 3px;
  margin-top: 15px;
}

footer .footer-top .navigation {
  margin: 0;
  text-align: center;
}
footer .footer-top .navigation ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
footer .footer-top .navigation ul li {
  font-size: 16px;
  font-weight: medium;
  padding: 5px;
}
footer .footer-top .navigation ul li a {
  color: #fff;
  text-decoration: none;
}
footer .footer-top .navigation ul li a:hover {
  opacity: 0.5;
  background-color: #002c76;
}
footer .footer-top .contact p {
  color: #fff;
  line-height: 1.5;
}
footer .footer-bottom {
  border-top: 1px solid #000;
  padding: 10px 0;
}
footer .footer-bottom p {
  text-align: left;
  color: #fff;
  font-size: 14px;
}
