/* HEADER STYLING */
#OR2STEM-HEADER {
    color: navy;
    font-weight: bold;
    padding-left: 20px;
}
#userProfile {
    float: right;
    margin-right: 15px;
    position: relative;
}
#userButton {
    width: auto;
    height: 30px;
    font-size: 14px;
    font-weight: 600;
    color: white;
    background-color: navy;
    cursor: pointer;
    margin-right: 30px;
    transition-duration: 0.5s;
}
#userButton:hover {
    background-color: red;
}
#user-picture {
    width: 30px; 
    height: 30px; 
    position: absolute; 
    right: 0; 
    bottom: 0;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    margin-left: 3px;
    color: white;
    background-color: navy;
    width: 85px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}
.dropdown-content a {
    color: white;
    display: block;
    text-decoration: none;
    padding: 5px;
    text-align: center;
}
.dropdown a:hover {
    background-color: red;
}
.show {display: block;}



/* MAIN CONTENT STYLING */
main {
    margin: 0 auto;
    width: 100%;
}

#header-div {
    margin: 0 auto;
    width: 100%;
    margin-bottom: 40px;
}

#loading-div {
    margin: 0 auto;
    width: 200px;
    height: 40px;
    padding: 5px;
    color: navy;
    font-size: 22px;
    font-weight: 600;
    border: 2px solid navy;
    margin-bottom: 40px;
}

#class-list-div {
    margin: 0 auto;
    width: 60%;
    margin-bottom: 50px;
}
#class-list-div h2 {
    margin: 10px;
}

#static-dynamic-div {
    margin: 0 auto;
    width: 60%;
    margin-bottom: 40px;
}
#static-dynamic-div h2 {
    margin: 10px;
}

.q-btn {
    width: 100%;
    height: 40px;
    margin-bottom: 5px;
    color: white;
    background-color: navy;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
    transition-duration: 0.5s;
}
.q-btn:hover {
    transform: scale(1.01);
    background-color: red;
}
