.btn-fsblue {
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  padding: 0.5em;
  display: inline-block;
  color: rgb(243, 240, 240);
  width: 15%;
  margin: 3px 0;
  background-color: #002c76;
}

.btn-fsblue_large {
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  padding: 0.5em;
  display: inline-block;
  color: rgb(243, 240, 240);
  width: 30%;
  margin: 3px 0;
  background-color: #002c76;
}

.text-align {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer1 {
  display: block;
  color: rgb(243, 240, 240);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li h1 {
  display: block;
  color: rgb(8, 8, 8);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.section-body {
  text-align: center;
  padding-bottom: 40px;
}
.search-bar-input {
  padding: 20px;
}

.search-bar-input input {
  font-size: 15px;
  font-weight: 200;
  padding: 10px;
  width: 50%;
}

.pagination {
  display: inline-block;
  padding: 20px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #4caf50;
  color: white;
  border: 1px solid #4caf50;
}
