/* HEADER STYLING */
#OR2STEM-HEADER {
    color: navy;
    font-weight: bold;
    padding-left: 20px;
}
#OR2STEM-HEADER-A {
    color: navy;
    text-decoration: none;
    transition-duration: 0.5s;
}
#OR2STEM-HEADER-A:hover {
    color: red;
}
#userProfile {
    float: right;
    margin-right: 15px;
    position: relative;
}
#userButton {
    width: auto;
    height: 30px;
    font-size: 14px;
    font-weight: 600;
    color: white;
    background-color: navy;
    cursor: pointer;
    margin-right: 30px;
}
#user-picture {
    width: 30px; 
    height: 30px; 
    position: absolute; 
    right: 0; 
    bottom: 0;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    margin-left: 3px;
    color: white;
    background-color: navy;
    width: 85px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}
.dropdown-content a {
    color: white;
    display: block;
    text-decoration: none;
    padding: 5px;
    text-align: center;
}
.dropdown a:hover {
    background-color: red;
}
.show {display: block;}



/* BUTTONS / INPUT[TYPE="SUBMIT"] STYLING */
button, #userButton {
    color: white;
    background-color: navy;
    cursor: pointer;
    transition-duration: 0.5s;
}
button:hover, #userButton:hover{
    background-color: red;
}
input[type="button"], input[type="submit"]{
    transition-duration: 0.5s;
}
input[type="button"]:hover, input[type="submit"]:hover { 
    background-color: red;
}



main {
    margin: 0 auto;
    width: 90%;
    border: 1px solid black;
    min-height: 300px;
}
#assessment_info {
    padding: 5px;
    border: 1px solid black;
}
#timer-info-row {
    padding: 3px;
}
.timer {
    display: inline;
    padding: 3px;
}
