/* HEADER STYLING */
#OR2STEM-HEADER {
  color: navy;
  font-weight: bold;
  padding-left: 20px;
}
#userProfile {
  float: right;
  margin-right: 15px;
  position: relative;
}
#userButton {
  width: auto;
  height: 30px;
  font-size: 14px;
  font-weight: 600;
  color: white;
  background-color: navy;
  cursor: pointer;
  margin-right: 30px;
  transition-duration: 0.5s;
}
#userButton:hover {
  background-color: red;
}
#user-picture {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  margin-left: 3px;
  color: white;
  background-color: navy;
  width: 85px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
}
.dropdown-content a {
  color: white;
  display: block;
  text-decoration: none;
  padding: 5px;
  text-align: center;
}
.dropdown a:hover {
  background-color: red;
}
.show {
  display: block;
}

/* MAIN STYLING */
#userButton {
  color: white;
  background-color: navy;
  cursor: pointer;
  transition-duration: 0.5s;
}
#userButton:hover {
  background-color: red;
}

main {
  margin: 0 auto;
  width: 90%;
  min-height: 300px;
  border: 1px solid black;
}

#assessment-info {
  width: 100%;
  padding: 10px;
}
#assessment-info h1 {
  margin: 0;
}
#assessment-info h3 {
  margin: 10px;
}
#ul-list-div {
  margin: 0;
  margin: 0 auto;
  width: 75%;
  text-align: left;
  padding: 5px;
  /*border: 1px solid black;*/
}
#ul-list-div ul li {
  padding: 3px;
  margin-left: 100px;
  list-style-type: square;
}
#btn1 {
  flex: auto;
  margin: 0 auto;
  width: 150px;
  height: 50px;
  font-size: 18px;
  font-weight: 600px;
  color: white;
  background-color: navy;
  cursor: pointer;
  transition-duration: 0.5s;
}
#btn1:hover {
  background-color: red;
}
table {
  margin: 0 auto;
  width: 50%;
  border: 1px solid black;
  border-collapse: collapse;
}
th,
td {
  border: 1px solid black;
  padding: 5px;
}

/* MAIN CONTENT STYLING */
#content-div {
  margin: 0 auto;
  width: 100%;
  display: flex;
}

#info-div {
  width: 30%;
}
#info-div h4 {
  margin: 0;
  text-align: left;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 5px;
}

#iframe-div {
  width: 70%;
}
#iframe-header-div {
  border: 1px solid black;
  padding: 5px;
}
#questionCount {
  margin: 0;
  padding: 5px;
}
#timer-div {
  margin: 0;
  padding: 5px;
}
#timer-div .timer {
  display: inline;
  padding: 3px;
}
#iframe-header-div button {
  margin: 5px;
  width: 130px;
  height: 45px;
  font-size: 16px;
  font-weight: 500px;
  color: white;
  background-color: navy;
  cursor: pointer;
  transition-duration: 0.5s;
}
#iframe-header-div button:hover {
  background-color: red;
}

/* FOOTER */
footer {
  border-top: 1px solid #000;
  background-color: #002c76;
  padding: 50px 0 0 0;
}

footer .container {
  padding: 0 40px;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  width: 1200px; /*should be changed according to the size of the screen*/
}

footer .footer-top {
  padding: 30px 0;
  align-items: flex-start;
  flex-direction: row;
}

footer .flex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

footer .footer-top h4 {
  border-bottom: 2px solid #fff;
  color: #fff;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-weight: 400;
  margin: 10px 0;
  font-size: 20px;
}
footer .footer-top .logo a {
  text-decoration: none;
}
footer .footer-top .logo p {
  color: #fff;
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 3px;
  margin-top: 15px;
}

footer .footer-top .navigation {
  margin: 0;
  text-align: center;
}
footer .footer-top .navigation ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
footer .footer-top .navigation ul li {
  font-size: 16px;
  font-weight: medium;
  padding: 5px;
}
footer .footer-top .navigation ul li a {
  color: #fff;
  text-decoration: none;
}
footer .footer-top .navigation ul li a:hover {
  opacity: 0.5;
  background-color: #002c76;
}
footer .footer-top .contact p {
  color: #fff;
  line-height: 1.5;
}
footer .footer-bottom {
  border-top: 1px solid #000;
  padding: 10px 0;
}
footer .footer-bottom p {
  text-align: left;
  color: #fff;
  font-size: 14px;
}
